.contact-wrapper {
  @include background($filename: '../images/section-backgrounds/pattern-1.png', $bgcolor: $red);
}

#contact {
  padding: $sectionPadding 0;
  text-align: center;

  .row {
    @media #{$medium-up} {
      @include flexbox();
    }
  }

    p {
      font-size: 1.3em;
      line-height: 1.3;
      color: white;

      @media #{$medium-up} {
        @include flexbox();
      }
    }

    img {
      max-width: 100px;
      margin: 1.5em 0;

      @media #{$medium-up} {
        max-width: inherit;
        margin: 0;
      }
    }
}