.contact-wrapper {
  @include background($filename: '../images/section-backgrounds/pattern-1.png', $bgcolor: $red);
}

#contact {
  padding: $sectionPadding 0;
  text-align: center;

  .row {
    @include flexbox();
  }

    p {
      font-size: 1.3em;
      line-height: 1.3;
      color: white;

      @include flexbox();
    }
}