.description-wrapper {
  @include background($bgcolor: $red);
}

#description {
  padding: $sectionPadding 0;

  img {
    width: 30%;
    max-width: 130px;
    display: block;
    margin: 0 auto 1em;

    @media #{$large-up} {
      width: 100%;
      margin: 0;
    }
  }
  p {
    color: white;
    text-align: center;
    font-size: 1.7em;

    @media #{$large-up} {
      font-size: 2em;
      text-align: left;
    }
  }
}