.details-wrapper {
  @include background($bgcolor: white);
}

#details {
  padding: $sectionPadding 0;

    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 2em;
      font-weight: 200;
      color: #777;
    }
    p {
      @include columns(2);
      margin-top: .5em;
      font-size: 1.3em;
      color: #777;
    }
}