.details-wrapper {
  @include background($bgcolor: white);
}

#details {
  padding: $sectionPadding 0;

  img {
    display: none;

    @media #{$large-up} {
      display: inline-block;
    }
  }
  h1 {
    font-size: 4em;
    word-break: break-all;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;

    @media #{$large-up} {
      font-size: 6em;
      padding-right: 1em;
    }
  }
  h2 {
    font-size: 1.7em;
    font-weight: 200;
    color: #777;

    @media #{$large-up} {
      font-size: 1.25em;
    }
  }
  p {
    @include columns(1);
    margin-top: .5em;
    font-size: 1.0em;
    color: #777;

    @media #{$medium-up} {
      @include columns(2);
    }
  }
}