.header-wrapper {
  height: 100%;
  @include background($filename: '../images/kristen-mike-image-gallery/4.png', $bgcolor: rgba(255,0,0,.3));

  @media #{$xlarge-up} {
    height: 800px;
  }

  .hero-wrapper {
    // Need double quotes and spacing between numbers
    @include calc(height, "100% - 60px");

    .sticky {
      border-top: 1px solid white;

      &.fixed {
        background: black;
      }
    }
  }

  // Need to figure out how to center menu on top bar
  // .top-bar-section {
  //   text-align: center;

  //   &:before {
  //     content: '';
  //     display: inline-block;
  //     height: 100%;
  //     vertical-align: middle;
  //     margin-right: -0.25em; /* Adjusts for spacing */
  //   }

  //   ul.right {
  //     display: inline-block;
  //     vertical-align: middle;
  //     width: auto;
  //   }
  // }
}

#hero {
  text-align: center;
  height: 100%;

  svg {
    margin-top: 35%;
    width: 100%;

    @media #{$medium-up} {
      margin-top: 20%;
    }
  }
  h4, p {
    color: white;
    font-size: 2.5em;
    line-height: 1;

    @media #{$large-up} {
      font-size: 3em;
    }
  }
  h4 {
    font-weight: 300;
    text-transform: lowercase;
    margin: 1em 0 0;

    @media #{$large-up} {
      margin: 2em 0 0;
    }
  }
  p {
    margin: .2em 0 0 0;
    font-weight: 100;
    text-transform: uppercase;
  }
}