.intro-wrapper {
  @include background($filename: '../images/kristen-mike-image-gallery/3.jpg', $bgcolor: rgba($green,.9));
}

#intro {
  padding: $sectionPadding 0;

  // Mixin for CSS Table styling to allow vertical align
  @include vertical-align($content-1: heading, $content-2: content, $align: middle);

  // To allow vertical-align: top for avatar images
  &.table {
    display: table;
  }
  .people, .text {
    display: table-cell;
    vertical-align: top;
  }

  // Main section heading styling
  .heading {
    width: 100%;

    @media #{$medium-up} {
      width: 35%;
    }

    h1 {
      font-size: 4em;

      @media #{$large-up} {
        font-size: 6em;
      }
    }
  }

  .people {
    .avatar {
      @include border-radius(50%);
      border: 3px solid white;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
  // One off padding for second row of content
  .margin.row {
    margin: ($sectionPadding/2) 0;

    @media #{$large-up} {
      margin: 0 0 ($sectionPadding/2) 0;
    }
  }
  .text {
    h2 {
      font-size: 1.7em;

      @media #{$large-up} {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.5em;
      letter-spacing: 2px;
      padding-bottom: .5em;
    }
  }
}