.intro-wrapper {
  @include background($filename: '../images/kristen-mike-image-gallery/3.jpg', $bgcolor: rgba(217,208,180,.9));
}

#intro {
  padding: $sectionPadding 0;

  .row {
    @include flexbox();

    // To allow vertical-align: top for avatar images
    &.table {
      display: table;
    }
    .people, .text {
      display: table-cell;
      vertical-align: top;
    }
  }

  // Main section heading styling
  .heading {
    @include flexbox();

    h1 {
      font-size: 6em;
    }
  }

  .people {
    .avatar {
      @include border-radius(50%);
      border: 3px solid white;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
  // One off padding for second row of content
  .margin.row {
    margin-bottom: $sectionPadding/2;
  }
  .text {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
      letter-spacing: 2px;
      padding-bottom: .5em;
    }
  }
}