.map-wrapper {
  // Make this variable
  background: url('../images/section-backgrounds/pattern-3.png') no-repeat;
  background-size: cover;

  .tint-wrapper {
    height: 100%;
    // Make this variable
    background-color:rgba(255,255,255,.8);
  }
}



#map {

  .row {
    max-width: inherit;
  }

  .map-col {
    padding: 0;
  }

  iframe {
    display: block;
    border: none;
    height: 500px;

    @media only screen and (max-width: 40em) {
      display: none;
    }
  }
  img {
    display: none;

    @media only screen and (max-width: 40em) {
      display: block;
    }
  }
}