.ourstory-wrapper {
  @include background($bgcolor: white);
}

#ourStory {
  padding: $sectionPadding 0;

  img {
    display: none;

    @media #{$large-up} {
      display: inline-block;
    }
  }
  h1 {
    font-size: 4em;

    @media #{$large-up} {
      font-size: 6em;
    }
  }
  h2 {
    font-size: 1.7em;
    font-weight: 200;
    color: #777;

    @media #{$large-up} {
      font-size: 2em;
    }
  }
  p {
    @include columns(1);
    margin-top: .5em;
    font-size: 1.0em;
    color: #777;

    @media #{$medium-up} {
      @include columns(2);
    }
  }
}