.quote-wrapper {
  @include background($filename: '../images/section-backgrounds/pattern-1.png', $bgcolor: rgba(0,0,0,.7));
}

#quote {
  padding: ($sectionPadding+30) 0;

  // Overriding default Foundation blockquote styling
  blockquote {
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.7em;
    font-weight: 100;
    text-align: center;
    line-height: 1;

    @media #{$large-up} {
      font-size: 2em;
    }

    cite {
      color: white;
      font-size: .6em;
      margin-top: .5em;
    }
  }
}