.rsvp-wrapper {
  @include background('../images/section-backgrounds/pattern-2.png', repeat, contain, rgba(166,72,51,.8));
}

#rsvp {
  padding: $sectionPadding 0;

  .row {
    @media #{$medium-up} {
      @include flexbox();
    }
  }

  .button-wrapper {
    @media #{$medium-up} {
      @include flexbox();
    }
  }

    h1 {
      font-size: 4em;
      color: white;

      @media #{$large-up} {
        font-size: 6em;
      }
    }
    h2 {
      font-size: 1.3em;
      font-weight: 200;
      color: white;
      text-transform: none;
      margin-bottom: 1em;

      @media #{$large-up} {
        font-size: 1.5em;
        margin-bottom: 0;
      }
    }
    .button {
      @include button();
    }
}