.rsvp-wrapper {
  @include background('../images/section-backgrounds/pattern-2.png', repeat, contain, rgba(166,72,51,.8));
}

#rsvp {
  padding: $sectionPadding 0;

  .row {
    @include flexbox();
  }

  .button-wrapper {
    @include flexbox();
  }

    h1 {
      font-size: 6em;
      color: white;
    }
    h2 {
      font-size: 1.5em;
      font-weight: 200;
      color: white;
      text-transform: none;
    }
    .button {
      @include button();
    }
}