// Foundation import
@import "app";

// Importing fonts
@font-face{
  font-family: 'benthem';
  src: url('../web-fonts/benthem.eot');
  src: url('../web-fonts/benthem.eot?#iefix') format('embedded-opentype'),
       url('../web-fonts/benthem.woff') format('woff'),
       url('../web-fonts/benthem.ttf') format('truetype'),
       url('../web-fonts/benthem.svg#webfont') format('svg');
}
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);

//
// Define global variables here
//

// Defines top and bottom padding between section
$sectionPadding: 60px;
// do we need mobile padding?
body {
  font-family: 'futura-pt', sans-serif;
}

// Color palette
$red: #8c2639;
$green: #a2a686;
$lime: #d9d0b4;
$brown: #73685f;
$auburn: #a64833;

// Universal font styling
h1 {
  font-family: 'benthem', serif;
  line-height: 1.3;
  margin: 0;
}
h2 {
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 5px;
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  font-family: 'futura-pt', sans-serif;
  font-weight: 100;
  line-height: 1;
  margin: 0;
}

// Swipe image gallery styling, DO NOT DELETE
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > li {
  float:left;
  width:100%;
  position: relative;
}

// Menu
.contain-to-grid.sticky{
  li.name{
    display: none;
  }
  &.fixed li.name{
    display: block;
  }
}

// Image Gallery styling
@import "imagegallery";

// Hero section styling
@import "hero";

// Description section styling
@import "description";

// Intro to Kristen and Mike section styling
@import "intro";

// Quote section styling
@import "quote";

// Our story section styling
@import "ourstory";

// Wedding party styling
@import "weddingparty";

// Wedding details styling
@import "details";

// Recommendations styling
@import "recommendations";

// Map styling
@import "map";

#registry {
  img {
    max-width: 150px;
  }
}
#contact {
  background: blue;
}