// Foundation import
@import "app";

// Importing fonts
@font-face{
  font-family: 'benthem';
  src: url('../web-fonts/benthem.eot');
  src: url('../web-fonts/benthem.eot?#iefix') format('embedded-opentype'),
       url('../web-fonts/benthem.woff') format('woff'),
       url('../web-fonts/benthem.ttf') format('truetype'),
       url('../web-fonts/benthem.svg#webfont') format('svg');
}
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);

// Define global variables here
h1 {
  font-family: 'benthem', serif;
}

body {
  font-family: 'futura-pt', sans-serif;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > li {
  float:left;
  width:100%;
  position: relative;
}

// Menu
.contain-to-grid.sticky{
  li.name{
    display: none;
  }
  &.fixed li.name{
    display: block;
  }
}


// Hero section styling
@import "hero";

#description {
  margin-top: $topbar-height;
  background: blue;
}
#quote {
  background: purple;
}
#weddingParty {
  background: black;
  color: white;

  .title {
    background: url('../images/ornaments/fence.png') bottom center repeat-x;
  }
}
#map {
  iframe {
    display: block;

    @media only screen and (max-width: 40em) {
      display: none;
    }
  }
  img {
    display: none;

    @media only screen and (max-width: 40em) {
      display: block;
    }
  }
}
#registry {
  img {
    max-width: 150px;
  }
}
#contact {
  background: blue;
}